CLP_ENDPOINTS_API=https://clp-test-hardware.my-clay.com
CLP_ENDPOINTS_IDENTITY_SERVER=https://clp-test-identityserver.my-clay.com/connect
CLP_API_VERSION=1.1
CLP_CLIENT_ID=
CLP_CLIENT_SECRET=
CLP_DEBUG_MODE=on
CLP_TEST_IQ_MAC="02.E3.AF"
CLP_TEST_REPEATER_MAC="04.36.10"
CLP_TEST_LOCK_MAC="01.2E.77"