CLP_ENDPOINTS_API=https://clp-test-hardware.my-clay.com/v1.2
CLP_ENDPOINTS_IDENTITY_SERVER=https://clp-test-identityserver.my-clay.com
CLP_API_VERSION=1.2
CLP_CLIENT_ID=
CLP_CLIENT_SECRET=
CLP_DEBUG_MODE=on
CLP_DEBUG_CURL=true
CLP_DEBUG_CURL_FILE="debug.log"
CLP_TEST_IQ_MAC="02.E3.AF"
CLP_TEST_REPEATER_MAC="04.36.10"
CLP_TEST_LOCK_MAC="01.2E.77"
CLP_TEST_ACCESSOR_ID="b34369d2-43b4-4344-8c12-b7977afa2703"
CLP_TEST_COLLECTION_ID="f9f1e3e3-9130-4d65-87c8-b1f8d4b1dbed"
CLP_TEST_TAG_NUMBER="00007527
CLP_SERVICE_ENABLE_TOKEN_CACHE=false
VAULT_VARIABLE=aca
VAULT_USE_SECURE_METHOD=true
VAULT_HOST=https://vault-dev.my-clay.com/
VAULT_MOUNT=aca-accept-transit
VAULT_ROLE_ID=
VAULT_SECRET_ID=
